{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<!-- Login page content -->
<div class="container">
<h1 class="page_name">Customer Log In</h1>
</div>
<div class="content container rounded">
  <h2>Welcome Back Fellow Herpetologist!</h2>
  <p style="margin-top: 2rem;">Log in to add critters to your cart.</p>
  <img src="../static/assets/site_imgs/bluetongueskink.jpg" alt="Blue Tongue Skink">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <p class="flash disclaimer">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div style="width: 50%;">
    {{ render_form(login_form, novalidate=True, button_map={"login": "primary"}) }}
  </div>
  <p style="margin-top: 4rem;">Don't have an account? No worries, click <a href="{{ url_for('register') }}">here</a> to register and create an account.</p>
</div>

<!-- Footer  -->
{% include "footer.html" %}