{% include "header.html" %}

<!-- Template page content -->
<div class="container">
<h1 class="page_name">Message Sent!</h1>
</div>
<div class="content container rounded">
    <h2>Your Message Has Been Sent!</h2>
    <p>Your message has been delivered! Unlike some of our products <span>*We're looking at you crickets...*</span> you won't just hear empty chirping.</p>
    <h3><a class="text_link_black" href="{{ url_for('shophome') }}">Return to shop 🔙</a></h3>
    <img src="../static/assets/site_imgs/chameleon.jpg" alt="chameleon">
</div>

<!-- Footer  -->
{% include "footer.html" %}