{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<!-- Registration page content -->
<div class="container">
<h1 class="page_name">New Customer Registration</h1>
</div>
<div class="content container rounded">
  <h2>No account? No worries!</h2>
  <br>
  <img src="../static/assets/site_imgs/bearded_dragon.jpg" alt="Young bearded dragon">
  <p style="margin-bottom: 4rem;">Complete the following information to create an account. Password must be at least 8 characters long. Once your account is created, you will be able to login and add critters to your cart.</p>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <p class="flash disclaimer">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div style="width: 50%;">
    {{ render_form(register_form, novalidate=True, button_map={"Register": "primary"}) }}
  </div>
</div>
    
<!-- Footer  -->
{% include "footer.html" %}